/* css reset  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* main body styling starts from here .*/
/* default variables */
:root {
  font-size: 20px; }

body {
  height: 100%;
  width: 100%;
  background-color: rgba(173, 255, 47, 0.35);
  font-family: Titillium Web, sans-serif; }
  body h1 {
    font-size: 1rem;
    text-align: center;
    margin: 1rem 0;
    color: red; }
  body input {
    width: 100%;
    border: 0;
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem 0.4rem 0.6rem;
    font-family: Titillium Web, sans-serif;
    border: 1px solid rgba(0, 128, 0, 0.4); }
  body input:focus, body input:hover {
    outline: none;
    border: 1px solid rgba(0, 128, 0, 0.8); }
  body header {
    text-align: center;
    padding: 2rem;
    font-size: 2rem; }

.container {
  margin: 1.3rem auto;
  background-color: white;
  padding: 1rem;
  box-sizing: border-box;
  width: 80%;
  min-height: 100%;
  box-shadow: 0 0 0.04rem 0.01rem rgba(0, 0, 0, 0.3);
  border: 0.07rem solid rgba(0, 0, 0, 0.2); }
  .container .timer {
    display: flex;
    justify-content: flex-end; }
  .container .timer > p {
    font-size: 0.8rem;
    margin: 1rem 0; }
  .container .input-wrapper-container .input-wrapper {
    width: 100%;
    display: flex;
    box-shadow: 0 0 0.2rem 0.01rem rgba(0, 1, 0, 0.1);
    box-sizing: border-box;
    align-items: center; }
    .container .input-wrapper-container .input-wrapper .fa-search {
      font-size: 0.8rem;
      padding: 0.6rem 1rem;
      color: white;
      background-color: rgba(0, 128, 0, 0.5); }
  .container .input-wrapper-container .input-wrapper:focus, .container .input-wrapper-container .input-wrapper:hover {
    border: 0px solid green; }

.articles-wrapper {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 0rem 0; }
  .articles-wrapper .article {
    display: grid;
    grid-template-columns: 6rem auto;
    margin: 1rem 0;
    box-sizing: border-box; }
    .articles-wrapper .article .image-wrapper {
      width: 5rem;
      text-align: center; }
      .articles-wrapper .article .image-wrapper .icon-image {
        width: 5rem;
        height: 4rem;
        object-fit: fill; }
      .articles-wrapper .article .image-wrapper .static-image-wrapper {
        background-color: rgba(0, 128, 0, 0.35);
        width: 5rem;
        height: 4rem; }

@media screen and (max-width: 768px) {
  :root {
    font-size: 15px; }

  .articles-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.2rem; }
    .articles-wrapper .article {
      display: flex;
      flex-direction: column; }
      .articles-wrapper .article .image-wrapper {
        margin-bottom: 1rem; }
      .articles-wrapper .article .article-title {
        margin: 1rem 0rem 1rem 0rem; } }
@media screen and (max-width: 500px) {
  :root {
    font-size: 10px; }

  .articles-wrapper {
    display: flex;
    flex-direction: column;
    margin: 2rem 0 0rem 0; }
    .articles-wrapper .article {
      display: grid;
      grid-template-columns: 6rem auto;
      grid-gap: 0.5rem;
      margin: 1rem 0;
      align-items: top; }
      .articles-wrapper .article .article-title {
        margin: 0rem; }
      .articles-wrapper .article .image-wrapper {
        margin: 0rem; } }

/*# sourceMappingURL=main.css.map */
